.auction-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .auction-column {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .auction-middle {
    width: 46%;
    border: 2px dashed #E91E63;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .bid-button {
    display: flex;
    justify-content: space-between;
  }
  
  .bid-button div {
    width: 65%;
    padding: 10px;
    border-right: 1px solid black;
    text-align: center;
  }
  
  .track-list, .bids-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .track-item, .bid-item {
    margin: 5px 0;
  }
  
  .bids-header {
    text-align: right;
    font-weight: bold;
  }
  
  .end-auction {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
  }
  